In [1]:
from time_series.lib import *

Using TensorFlow backend.

In [1]:
import time_series.lib as tl

Using TensorFlow backend.

In [2]:
control=tl.Controller()

In [3]:
control.data.columns

Index(['id', 'bond_id', 'trade_price', 'weight', 'current_coupon',
       'time_to_maturity', 'is_callable', 'reporting_delay', 'trade_size',
       'trade_type', 'curve_based_price', 'received_time_diff_last1',
       'trade_price_last1', 'trade_size_last1', 'trade_type_last1',
       'curve_based_price_last1', 'received_time_diff_last2',
       'trade_price_last2', 'trade_size_last2', 'trade_type_last2',
       'curve_based_price_last2', 'received_time_diff_last3',
       'trade_price_last3', 'trade_size_last3', 'trade_type_last3',
       'curve_based_price_last3', 'received_time_diff_last4',
       'trade_price_last4', 'trade_size_last4', 'trade_type_last4',
       'curve_based_price_last4', 'received_time_diff_last5',
       'trade_price_last5', 'trade_size_last5', 'trade_type_last5',
       'curve_based_price_last5', 'received_time_diff_last6',
       'trade_price_last6', 'trade_size_last6', 'trade_type_last6',
       'curve_based_price_last6', 'received_time_diff_last7',
       'trade_price_last7', 'trade_size_last7', 'trade_type_last7',
       'curve_based_price_last7', 'received_time_diff_last8',
       'trade_price_last8', 'trade_size_last8', 'trade_type_last8',
       'curve_based_price_last8', 'received_time_diff_last9',
       'trade_price_last9', 'trade_size_last9', 'trade_type_last9',
       'curve_based_price_last9', 'received_time_diff_last10',
       'trade_price_last10', 'trade_size_last10', 'trade_type_last10',
       'curve_based_price_last10'],
      dtype='object')

In [13]:
counts=control.data.groupby('bond_id').agg({'id':'count'})

In [17]:
counts.sort_values(by='id',ascending=False).head(10)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
    </tr>
    <tr>
      <th>bond_id</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>6968</th>
      <td>12129</td>
    </tr>
    <tr>
      <th>5595</th>
      <td>7002</td>
    </tr>
    <tr>
      <th>17542</th>
      <td>6458</td>
    </tr>
    <tr>
      <th>19730</th>
      <td>6423</td>
    </tr>
    <tr>
      <th>27603</th>
      <td>5176</td>
    </tr>
    <tr>
      <th>660955</th>
      <td>5073</td>
    </tr>
    <tr>
      <th>20833</th>
      <td>4886</td>
    </tr>
    <tr>
      <th>21659</th>
      <td>4866</td>
    </tr>
    <tr>
      <th>24336</th>
      <td>4479</td>
    </tr>
    <tr>
      <th>347637</th>
      <td>4422</td>
    </tr>
  </tbody>
</table>
</div>

In [19]:
selected=control.data.query('bond_id == 6968')

In [25]:
selected.to_csv('time_series/data/bond_6968.csv')